<!DOCTYPE html>
<head>

</head>
<body>
    <header>
        <a href="/adduser">
            <span>Add product page</span>
        </a>
    </header>
    <main>
        <a href="/">
            <span>See all products</span>
        </a>
        <form method="post" id="adduser">
            <label for="name">NAme</label>
            <input type="text" name="name" value=""/><br/>
            <label for="price">Price</label>
            <input type="text" name="price" value=""/>
            <br/>
            <label for="stock">Stock</label>
            <input type="radio" name="stock" value="Yes"/>
            <label for="stock">Yes</label>
            <br/>
            <!-- <label for="stock">Stock</label> -->
            <input type="radio" name="stock" value="NO"/>
            <label for="stock">No</label>
            <br/>
            <label for="status">Status</label>
            <input type="radio" name="status" value="Active"/>
            <label for="status">Active</label>
            <br/>
            <!-- <label for="status">Status</label> -->
            <input type="radio" name="status" value="Inactive"/>
            <label for="status">Inactive</label>
            <br/>
            <button type="submit">Create</button>
        </form>
    </main>
</body>