<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/assets/style/styles.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
   <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header">
        <nav>
            <a>
                <span>Product management</span>
           </a>
       
    </nav>
    </header>
    <main>
        <div>
            <a href="\adduser">
                <span>New user<i class="fa-solid fa-user"></i></span>
            </a>
        </div>
    </main>
    <form action="/" method="post">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product name</th>
                    <th>Quantity</th>
                    <th>Stock</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>phone</td>
                    <td>12</td>
                    <td>available</td>
                    <td>
                        <a href="#" class="edit">
                            Edit <i class="fa-solid fa-pen"> </i>
                        </a>

                        <a href="#" class="delete">
                              Delete <i class="fa-solid fa-trash"></i></i>
                        </a>
                    </td>
                </tr>
            </thead>
        </table>
    </form>
</body>